<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>1С-программист</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/style2.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
    <h1 class="logo logo_header">
      <a class="logo-link logo-link_header" href="/" >
        Vacancy statistics
      </a>
    </h1>
    <nav class="nav header__nav">
        <a href="/" class="nav-link nav-link_header">Главная</a>
		    <a href="/relevance" class="nav-link nav-link_header">Востребованность</a>
		    <a href="/area" class="nav-link nav-link_header">География</a>
            <a href="/skills" class="nav-link nav-link_header active">Навыки</a>
            <a href="/vacancies" class="nav-link nav-link_header">Последние вакансии</a>
    </nav>
    <button class="button button_orange button_header">Последние вакансии</button>
    <a class="menu" href="#nav-footer"></a>
  </header>

  <main class="main">
    <section class="main__home" id="home">
      <div class="main__home-container">
        <div class="main__home-content">
          <h3 class="main__home-title">
            1C-Разработчик
          </h3>
          <p class="main__home-descr">
            Не просто разработка. Внедрение и&nbsp;сопровождение. Для бизнеса. Для людей
          </p>
          <div class="main__home__buttons">
            <button class="# none"></button>
            <button class="# none"></button>
          </div>
        </div>
      </div>
    </section>

    <section class="main__home">
      <article class="main-article">
        <div class="main-article-container flex">
          <span class="text-content">
            Считается, что задача программиста — писать программы.
          </span>
          <span class="text-content">
            Но <span class="highlight">программисты 1С</span> не столько создают новые продукты, сколько работают с готовыми.
          </span>
        </div>
      </article>
    </section>

    <section class="main__advantages" id="princing">
      <div class="main__advantages-container">
        <h2 class="main__advantages-title">
          &lt;кто?&gt;<span class="highlight"><b>1С-Разработчик</b></span>&lt;кто?&gt;
        </h2>
        <ul class="main__advantages__list">
          <li class="main__advantages__list-item">
            <h3 class="list-item-title">Что такое <span class="highlight">«1С:Предприятие»</span></h3>
            <p class="list-item-descr">Самые популярные системы учёта в&nbsp;России и&nbsp;СНГ&nbsp;&mdash; это продукты компании &laquo;1С&raquo;. <br><br>Их&nbsp;применяют 1,5 миллиона компаний.<br><br> С&nbsp;их&nbsp;помощью, например, можно считать зарплату сотрудников, контролировать расчёты с&nbsp;подрядчиками и&nbsp;клиентами, вести документооборот, сводить бухгалтерский баланс, формировать отчёты и&nbsp;делать многое другое.</p>
          </li>
          <li class="main__advantages__list-item">
            <h3 class="list-item-title">Зачем нужны <span class="highlight">1С-программисты</span></h3>
            <p class="list-item-descr">&laquo;1С:Предприятие&raquo; состоит из&nbsp;технологической платформы и&nbsp;установленного на&nbsp;ней прикладного решения (конфигурации).<br><br>Конфигурация&nbsp;&mdash; разработанная на&nbsp;языке 1С&nbsp;программа для пользователей. У&nbsp;неё удобный интерфейс, полезная функциональность и&nbsp;возможности для настройки.<br><br>Именно 1С-разработчик создает её.</p>
          </li>
          <li class="main__advantages__list-item">
            <h3 class="list-item-title">Где работают <span class="highlight">программисты&nbsp;1С</span></h3>
            <p class="list-item-descr">Многие 1С-программисты работают в&nbsp;фирмах-франчайзи&nbsp;&mdash; партнёрах &laquo;1С&raquo; или других компаниях, занимающихся обслуживанием программ &laquo;1С&raquo;.<br>
              Также есть много фрилансеров, работающих в&nbsp;этом направлении. Обычно они обслуживают малые предприятия в&nbsp;своём регионе.<br><br>
              Раньше программисты 1С&nbsp;постоянно ездили к&nbsp;клиентам, чтобы настроить программы и&nbsp;рассказать, как всё работает. Но&nbsp;сейчас всё это делается удалённо.</p>
          </li>
          <li class="main__advantages__list-item">
            <h3 class="list-item-title">Чем занимается <span class="highlight">1С-разработчик</span></h3>
            <p class="list-item-descr">Много чем!<br><br>разрабатывает новые проекты / работает с&nbsp;бухгалтерией / решает проблемы пользователей корпоративной системы / занимается связкой с&nbsp;интернет-магазинами / настраивает мобильные приложения для кладовщиков и&nbsp;курьеров / делает так, чтобы магазины работали: подключает весы и&nbsp;кассовые аппараты (они тоже работают на&nbsp;1С).</p>
          </li>
          <li class="main__advantages__list-item">
            <h3 class="list-item-title">Сертификация <span class="highlight">программистов&nbsp;1С</span></h3>
            <p class="list-item-descr">Есть два уровня сертификации:

              &laquo;1С:Профессионал&raquo;. Проверяются теоретические знания&nbsp;&mdash; знание платформы и&nbsp;одной из&nbsp;типовых конфигураций&nbsp;&mdash; например, &laquo;Бухгалтерии предприятия.<br><br>
              &laquo;1С:Специалист&raquo;. Подтверждаются практические навыки. К&nbsp;испытанию допускаются только сдавшие тест на&nbsp;сертификат &laquo;1С:Профессионал&raquo;.</p>
          </li>
          <li class="main__advantages__list-item">
            <h3 class="list-item-title"><span class="highlight">Зарплата?</span></h3>
            <p class="list-item-descr">1С&nbsp;популярна в&nbsp;России и&nbsp;странах СНГ, а&nbsp;программисты 1С&nbsp;очень востребованы. В&nbsp;марте 2021 года только на&nbsp;HeadHunter было около 10&nbsp;тысяч вакансий.<br><br>
              Заработок программиста зависит от&nbsp;его квалификации и&nbsp;опыта работы: стажёрам предлагают зарплату 40&ndash;70 тысяч рублей, программистам с&nbsp;опытом 1&ndash;3 года&nbsp;&mdash; до&nbsp;180&nbsp;тысяч, а&nbsp;ведущие разработчики могут рассчитывать на&nbsp;200&ndash;300 тысяч и&nbsp;больше.</p>
          </li>
        </ul>
      </div>
    </section>

    <section class="main__about" id="about">
      <div class="main__about-container">
        <div class="main__about-up">
          <h2 class="main__about__up-title">Остались&nbsp;<span class="highlight"><b>вопросы</b></span>?</h2>
          <p class="main__about-descr">
            Читайте в источнике:
          </p>
          <a class="list-item-descr">https://skillbox.ru/media/code/kto_takoy_programmist_1s_chem_on_zanimaetsya_i_skolko_poluchaet/</a>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer" id="contacts">
      <div class="footer__rights">
        <div class="footer__rights-copiright">
          <a href="#" class="footer-rights-link">
            &copy;2024&nbsp;PythonProject
          </a>
        </div>

        <div class="footer__rights-reserved footer__rights-reserved_center">
          <a href="#" class="footer-rights-link">
            РИ-220944
          </a>
        </div>

        <div class="footer__rights-terms-of-use">
          <a href="#" class="footer-rights-link">
            Кирилов Александр Андреевич
          </a>
        </div>
      </div>
    </div>


  </footer>
</body>
</html>
